- preview_session = generate_preview_session
= semantic_form_for([:admin, @page], 
  html: {id: 'page', data: {'preview-session' => preview_session}}) do |f|

  .row
    .col-md-8
      = f.inputs :title, :slug

      = f.input :body, as: 'text'

    .col-md-4
      .well
        = menu_button(:show.t(:scope => [:admin, :pages, :menu]), admin_page_path((@page.new_record? ? 'preview' : @page.id), preview_session: preview_session), 'btn-info', target: 'blank')
        = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
        = f.action :reset, :button_html => { :class => "btn btn-danger", :disable_with => '...' }
        = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

        = f.input :published,   :as => :radio,  :collection => [['Publicado',true], ['Rascunho', false]]

      = render "admin/shared/markdown_table"

