= content_for :title, :title.t(:scope => [:admin, params[:resource_type], :edit])

%h1= :h1.t(:scope => [:admin, params[:resource_type], :edit])

= render 'menu'

= render "#{params[:resource_type].pluralize}/form"

