- form = FormtasticBootstrap::FormBuilder.new("#{@owner}[#{@attrs}][#{@index}]", @object, self, {})

- @object.fields.keys.each do |field|
  - next if field == '_id'
  = form.input field

= form.check_box '_destroy'
= form.label '_destroy'

