= content_for :title, :title.t(:scope => [:admin, :widgets, :show])%([@widget.title])

%h1
  = @widget.title

= semantic_form_for @config, url: admin_widget_path(@widget) do |f|
  - @config.fields.keys.each do |field|
    - next if field == '_id'
    = f.input field

  - @config.relations.keys.each do |r|
    - if @config.nested_attributes.keys.include?( r + "_attributes")

      .nested_form_content
        = link_to :new_item.t(scope: [:commands]), "#", class: "widget-new-nested", data: {model: r}
        = f.semantic_fields_for r do |n|
          - n.object.fields.keys.each do |nested_field|
            - next if nested_field == '_id'
            - if n.object.form_field_defined?(nested_field)
              = n.input nested_field, as: n.object.form_field_type(nested_field)
            - else
              = n.input nested_field
          = n.check_box '_destroy'
          = n.label '_destroy'

  = f.actions :submit, :cancel

