- preview_session = generate_preview_session
= semantic_form_for([:admin, @post], 
  html: {id: 'post', data: {'preview-session' => preview_session}}) do |f|

  .row
    #main-column.col-md-8
      %div{data:{'focus-mode' => 'off'}}
        = f.inputs :title, :slug

      %div.hidden{data:{'focus-mode' => 'on'}}
        - unless @post.new_record?
          = menu_button(:save_and_continue.t(:scope => [:admin, :posts, :menu]), "#", 'btn-primary save-and-continue')
          .clear

      %span.glyphicon.glyphicon-eye-open.focus-mode-btn.right
      = f.input :body, as: 'text', input_html: {rows: 80}

      %div{data:{'focus-mode' => 'off'}}
        = f.input :resume, as: 'text', input_html: {class: 'short-text'}
        - if feature_enabled? 'multiple_domains'
          = f.input :domains, input_html: {'data-role' => 'tagsinput'}
        = f.inputs :category, :author
        = f.input :tags, input_html: {'data-role' => 'tagsinput'}
        = f.input :image, as: 'image', input_html: {'data-image-size' => 'front'}
        = f.input :header_image, as: 'image', input_html: {'data-image-size' => 'body'}
        = f.input :kindle_cover, as: 'image', input_html: {'data-image-size' => 'list'}

    .col-md-4{data:{'focus-mode' => 'off'}}
      .well
        %p
          = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
          = f.action :reset, :button_html => { :class => "btn btn-danger", :disable_with => '...' }
          = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

        %P 
          - unless @post.new_record?
            = menu_button(:save_and_continue.t(:scope => [:admin, :posts, :menu]), "#", 'btn-primary save-and-continue')
          = menu_button(:show.t(:scope => [:admin, :posts, :menu]), admin_post_path((@post.new_record? ? 'preview' : @post.id), preview_session: preview_session), 'btn-info', target: 'blank')

        = f.input :published,   :as => :radio,  :collection => [['Publicado',true], ['Rascunho', false]]

      = render "admin/shared/spellchecker", field: 'post_body'

      = render "admin/shared/markdown_table"

      = f.inputs :external_js, :external_css

