= semantic_form_for([:admin, @post]) do |f|

  .row
    .col-md-8
      = f.inputs :title, :slug, :category, :tags, :author

      = f.input :resume, as: 'text', input_html: {class: 'short-text'}
      = f.input :body, as: 'text'

    .col-md-4
      .well
        = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
        = f.action :reset, :button_html => { :class => "btn btn-danger", :disable_with => '...' }
        = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

        = f.input :published,   :as => :radio,  :collection => [['Publicado',true], ['Rascunho', false]]

      = render "admin/shared/markdown_table"

