- preview_session = generate_preview_session
= semantic_form_for([:admin, @post], 
  html: {id: 'post', data: {'preview-session' => preview_session}}) do |f|

  .row
    .col-md-8
      = f.inputs :title, :slug
      = f.input :body, as: 'text'
      = f.input :resume, as: 'text', input_html: {class: 'short-text'}
      = f.inputs :category, :author
      = f.input :tags, input_html: {'data-role' => 'tagsinput'}

    .col-md-4
      .well
        = menu_button(:show.t(:scope => [:admin, :posts, :menu]), admin_post_path((@post.new_record? ? 'preview' : @post.id), preview_session: preview_session), 'btn-info', target: 'blank')
        = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
        = f.action :reset, :button_html => { :class => "btn btn-danger", :disable_with => '...' }
        = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

        = f.input :published,   :as => :radio,  :collection => [['Publicado',true], ['Rascunho', false]]

      = render "admin/shared/markdown_table"

      = f.inputs :external_js, :external_css

