= content_for :title, :title.t(scope: [:admin, :commentators, :index])

.row
  .span12
    .widget
      .widget-content
        %h1= :h1.t(scope: [:admin, :commentators, :index])
        
        - @commentators.each do |commentator|
          .row.commentator-entry
            .col-md-4
              = image_tag commentator.gravatar_url 
          
            .col-md-6
              %p
                %span.commentator-name= commentator.name
              %p
                %span.commentator-email= commentator.email
          
            .col-md-2
              = check_box_tag('active', true, commentator.active, {'data-toggle' => 'toggle', class: 'commentator-toggle', rel: commentator.id})

