= content_for :title, :title.t(:scope => [:admin, :themes, :index])

%h1= :h1.t(:scope => [:admin, :themes, :index])

= render 'menu'

%table.table.table-striped
  %thead
    %tr
      %td
        = :title.t(:scope => [:mongoid, :attributes, :theme])
      %td
        &nbsp;

  %tbody
    - @themes.each do |theme|
      %tr
        %td
          = theme.title
        %td
          .btn-group
            = menu_button(:original.t(:scope => [:admin, :themes, :menu]), edit_admin_theme_path(theme), 'btn-info')

            = menu_button(:exportar.t(:scope => [:admin, :themes, :menu]), edit_admin_theme_path(theme), 'btn-info')

            = menu_button(:destroy.t(:scope => [:admin, :themes, :menu]), admin_theme_path(theme), 'btn-danger', {method: 'delete', data: {confirm: :confirm.t(:scope => [:admin, :themes, :destroy])}})

