= content_for :title, :title.t(:scope => [:admin, :settings, :index])

%h1= :h1.t(:scope => [:admin, :settings, :index])

- @settings.each do |category, settings|
  %h2= category
  - settings.each do |setting|
    %p
      %label= "#{setting.title}:"
      %span.rest-in-place{'data-url' => admin_setting_path(setting), 'data-object' => "setting", 'data-attribute' => "value", 'data-placeholder' => "Não preenchido..."}
        = setting.value

