= semantic_form_for([:admin, @snippet]) do |f|

  .row
    .col-md-8
      = f.inputs :title, :language, :slug

      = f.input :code, as: 'text'

    .col-md-4
      .well
        = f.action :submit, :button_html => { :class => "btn btn-primary", :disable_with => '...' }
        = f.action :reset, :button_html => { :class => "btn btn-danger", :disable_with => '...' }
        = f.action :cancel, :button_html => { :class => "btn btn-danger", :disable_with => '...' }

        = f.input :public,   :as => :radio,  :collection => [['Sim',true], ['Não', false]]

      = render "admin/shared/markdown_table"

