- content_for(:title, @gallery.title)

- content_for(:javascript) do
  = javascript_include_tag 'gallery'

- content_for(:stylesheet) do
  = stylesheet_link_tag 'gallery'

.row
  .col-md-9.indexpage
    %div.post.type-post.status-publish.format-standard.hentry.row.post-roll{id: "post-#{@gallery.id}"}
      = render 'shared/details', item: @gallery
      .col-sm-9.content.format-
        %h2.entry-title{'data-preview-attribute' => 'gallery_title'}
          = @gallery.title
        .entry{'data-preview-attribute' => 'gallery_body'}

          .gallery-carousel-wrapper{data: {total: @gallery.items.size}}
            %span.gallery-arrow.left-gallery-item
              %span.gallery-arrow-symbol{'data-icon' => "D"}
            %ul.gallery-carousel
              - @gallery.items.each_with_index do |item, position|
                %li.gallery-item{data: {slide: item.image_url(:body), description: item.description.from_markdown_to_html, title: item.title, position: position}}
                  = image_tag item.image_url(:thumb)
            %span.gallery-arrow.right-gallery-item
              %span.gallery-arrow-symbol{'data-icon' => "E"}
          .clear

          .gallery-content
            %p
              %img#gallery-item-image

            %h2#gallery-item-title

            %p#gallery-item-description


          = render 'comments/form', {content_id: @gallery.id, content_type: 'Gallery'}

    = render 'comments/list', {nivel: 0, comments: @gallery.comments}
  = render 'shared/sidebar'


