.spellchecker.well{data:{field: field}}
  %strong.spellchecker-title
    Spellchecker

  .spellchecker-navigation
    %strong.spellchecker-current
      0
    %strong.spellchecker-separator
      = '/'
    %strong.spellchecker-total
      0

  .spellchecker-content
    %input.spellchecker-word{value: ''}

    .spellchecker-commands
      %button.spellchecker-add.btn
        = :add.t(:scope => [:admin, :spellchecker, :commands])
      %button.spellchecker-ignore.btn
        = :ignore.t(:scope => [:admin, :spellchecker, :commands])
      %button.spellchecker-change.btn
        = :change.t(:scope => [:admin, :spellchecker, :commands])
      %button.spellchecker-check.btn
        = :check.t(:scope => [:admin, :spellchecker, :commands])

