!!!
%html{:lang => "en"}
  %head
    = csrf_meta_tags

    %title= "#{yield(:title)} | Independent Admin"

    = stylesheet_link_tag 'admin', media: 'all'

    %meta{content: Figaro.env.preview_host, name: 'preview_host'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Independent
          .nav-collapse
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-cog
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} Help
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                    = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to t('admin.navbar.logout'), destroy_user_session_path, {method: 'delete'}
            %form.navbar-search.pull-right
              %input.search-query{:placeholder => "Search", :type => "text"}/

    .subnavbar
      .subnavbar-inner
        .container
          %ul.mainnav

            %li{class: set_active('welcome')}
              %a{:href => "/admin"}
                %i.icon-dashboard
                %span Dashboard

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-list-alt
                %span= :resources.t(scope: [:admin, :navebar])
                %b.caret
              %ul.dropdown-menu
                %li{class: set_active('pages')}
                  = link_to :pages.t(scope: [:admin, :navebar]), admin_pages_path
                %li{class: set_active('posts')}
                  = link_to :posts.t(scope: [:admin, :navebar]), admin_posts_path
                %li{class: set_active('presentations')}
                  = link_to :presentations.t(scope: [:admin, :navebar]), admin_presentations_path
                %li{class: set_active('snippets')}
                  = link_to :snippets.t(scope: [:admin, :navebar]), admin_snippets_path

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-picture
                %span= :media.t(scope: [:admin, :navebar])
                %b.caret
              %ul.dropdown-menu
                %li{class: set_active('assets')}
                  = link_to :assets.t(scope: [:admin, :navebar]), admin_assets_path
                %li{class: set_active('galleries')}
                  = link_to :galleries.t(scope: [:admin, :navebar]), admin_galleries_path
                %li{class: set_active('images')}
                  = link_to :images.t(scope: [:admin, :navebar]), admin_images_path

    .main
      .main-inner
        .container
          = yield

    = render 'admin/shared/modal'
    .extra
      .extra-inner
        .container
          .row
            .span3
              %h4
                Independent
              %ul
                %li
                  %a{:href => "javascript:;"} Independent
    .footer
      .footer-inner
        .container
          .row
            .span12
              © 2013
              = succeed "." do
                %a{:href => "http://www.egrappler.com/"} Bootstrap Responsive Admin Template

    = javascript_include_tag 'admin'
    = javascript_translates

