!!!
%html{:lang => "pt-BR"}
  %head
    %title= "#{yield(:title)} | Independent Admin"
    = stylesheet_link_tag 'admin', media: 'all'
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Independent
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: set_active('welcome')}
              %a{:href => admin_root_path}= :home.t(scope: [:admin, :navebar])
            %li{class: set_active('posts')}
              %a{:href => admin_posts_path}= :posts.t(scope: [:admin, :navebar])
            %li{class: set_active('users')}
              %a{:href => admin_users_path}= :users.t(scope: [:admin, :navebar])
            %li{class: set_active('themes')}
              %a{:href => admin_themes_path}= :themes.t(scope: [:admin, :navebar])
            %li{class: set_active('settings')}
              %a{:href => admin_settings_path}= :settings.t(scope: [:admin, :navebar])
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{href: "#", 'data-toggle' => :dropdown}
                  Usuário
                  %b.caret
                %ul.dropdown-menu
                  %li.divider
                    %li=link_to(:logout.t(scope: [:admin, :navebar]), destroy_user_session_path, {method: 'delete'})
        / /.nav-collapse
    .container
      .starter-template
        = yield
    / /.container

  = javascript_include_tag 'admin'

