!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{content: Figaro.env.preview_host, name: 'preview_host'}
    %title
      #{yield(:title)} | #{get_setting_value('global.blog_title')}

    = stylesheet_link_tag 'default', media: 'all'
    = yield(:stylesheet)

    = auto_discovery_link_tag :rss, "/feed" 

    %link{:rel => "shortcut icon", :type => "image/x-icon", 
          :href => get_setting_value('global.metadata_shortcut_icon'),
          :sizes => "16x16"}
            
    %link{:rel => "icon", :type => "image/x-icon", 
          :href => get_setting_value('global.metadata_icon'),
          :sizes => "16x16"}

    %meta{:name => "description",
          :content => yield(:description).blank? ? "" : yield(:description)}

    = csrf_meta_tags
    - if !user_signed_in?
      :javascript
        #{get_setting_value('global.analytics_code')}

  %body.home.blog
    .container
      #header.header.row{:role => "banner"}
        %header
          .site-branding
            %h1#site-title
              = link_to get_setting_value('theme.title'), root_path

            %h2#site-description= get_setting_value('theme.subtitle')
        .navi-wrap
          .flexnav
            %ul
              - Menu.by_group('main').each do |item|
                %li{class: return_if_active(item.link.sub('/', ''), :current_page_item)}
                  = link_to item.title, item.link
        / /navi-wrap
        %br.clear/
      / /header

      = yield

      .footer.row
        .col-md-3.col-md-offset-1.col-sm-4.info.sidebar
        .col-md-3.col-md-offset-1.col-sm-4.info.sidebar
        .col-md-3.col-md-offset-1.col-sm-4.info.sidebar
      .siteinfo.row
        .col-xs-10.col-xs-offset-1
          %p
            Powered by
            %a{:href => "http://github.com/diegorubin/independent"} Independent
            \&amp;
            = succeed "." do
              %a{:href => "http://themes.tobscore.com/romangie/"} Romangie Theme
    / /footer

  = javascript_include_tag 'default'
  = javascript_include_tag 'comments'
  = yield(:javascript)

